# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
# Include .tfvars configuration file as part of public portfolio which is also used as part of Github Action workflows
!/terraform/*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*tfplan*
*.plan*
*/terraform/*.json
.terraformrc
terraform.rc

# Python virtual environment
.venv

# Azure Functions local settings
local.settings.json

# Azurite local emulator files
__azurite_db*__.json
__blobstorage__/
__queuestorage__/

# Pytest files
__pycache__/
*.pyc
.pytest_cache/

# Misc
.vscode